<div class="row justify-content-md-center">
  <div class="col-md-6">
    <form *ngIf="userStatus;" [formGroup]="userLoginForm" (ngSubmit)="login()" class="">
      <h2 class="mt-3 pt-3">Giriş Yap</h2>
      <div class="form-group">
        <input type="email" id="loginEmail" formControlName="loginEmail" class="form-control" placeholder="Mail adresi">
      </div>
      <div class="form-group">
        <input type="password" id="loginPassword" formControlName="loginPassword" class="form-control"
          placeholder="Parola">
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!userLoginForm.valid">Giriş
        Yap</button>
        Henüz üye değilseniz <a class="card-link" [routerLink]="" (click)="userStatus=!userStatus"><i class="fa fa-sign-in"></i> Kayıt Ol</a>
    </form>

    <form *ngIf="!userStatus" [formGroup]="userAddForm" (ngSubmit)="createUser()" class="">
        <h2 class="mt-3 pt-3">Kayıt Ol</h2>
        <div class="form-group">
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Kullanıcı Adı">
        </div>
        <div class="form-group">
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Mail adresi">
        </div>
        <div class="form-group">
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Parola">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!userAddForm.valid">Üye Ol</button>
        <a class="card-link" [routerLink]="" (click)="userStatus=!userStatus"><i class="fa fa-sign-in"></i> Giriş Yap</a>
      </form>
  </div>
</div>