<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/basket" routerLinkActive="active">Sepetim</a>
      </li>
      <li *ngIf="!isLogged" class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Giriş</a>
      </li>
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="logOut()">Çıkış Yap</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="searchText" name="searchText" class="form-control mr-sm-2" type="text" placeholder="Kitap ismi">
      <button class="btn btn-secondary my-2 my-sm-0"  (click)="search(searchText)">ARA</button>
    </form>
  </div>
</nav>