<main role="main" class="container">
    <div class="row mt-3 pt-4" *ngIf="product; else loadSpinner">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <img src="{{product.imageUrl}}" style="height: 400px; width: 100%; display: block">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <a routerLink="./products/{{product.get_category.id}}">
                        <h6 class="card-subtitle mb-2 text-muted float-right">{{product.get_category.name}}</h6>
                    </a>
                    <h3 class="card-title">{{product.name}}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">{{product.author}}</h6>
                    <p></p>
                    <div class="row">
                        <div class="col-md-5"><b>YAYINCI</b></div>
                        <div class="col-md-7">{{product.publisher}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><b>SAYFA SAYISI</b></div>
                        <div class="col-md-7">{{product.pageCount}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><b>FİYAT</b></div>
                        <div class="col-md-7">{{product.price}}₺</div>
                    </div>
                    <p class="card-text mt-3" [innerHtml]="product.content"></p>
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control form-control-sm" [(ngModel)]="quantity" type="number" min="1" max="10" >
                        </div>
                        <div class="col-md-9">
                            <a class="card-link" [routerLink]="" (click)="addToBasket()"><i class="fa fa-shopping-basket"></i> Sepete ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadSpinner>
        <div class="d-flex justify-content-center">
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</main>